nav.Navbar.navbar.navbar-expand-lg.navbar-dark.sticky-top
    .container
        <!-- Brand -->
        a.navbar-brand.Navbar__Brand(href="/")
            img(
                src="/icon/logo-320x320.png",
                width="32",
                height="32",
                alt="Todo-Node"
            )
            p.mb-0.Navbar-Brand--text todo.node

        <!-- Navbar content for large screen -->
        .d-none.d-lg-flex.container-fluid.justify-content-between
            ul.Navbar__Nav
                li.nav-item.Navbar__Nav__Item
                    a.Navbar__Nav__Link(href="/features") Features
                li.nav-item.Navbar__Nav__Item
                    a.Navbar__Nav__Link(href="/todos") Apps
                li.nav-item.Navbar__Nav__Item
                    a.Navbar__Nav__Link(href="/about") Help

            ul.Navbar__Nav
                li.nav-item.Navbar__Nav__Item
                    a.Navbar__Nav__Link(href="/signin")
                        | Sign in
                        i.bi.bi-arrow-right
                li.Navbar__Nav__Item
                    a.Navbar__Nav__Button(href="/signup")
                        | Get started
                        i.bi.bi-arrow-right

        <!-- Navbar menu toggler for small screen -->
        button.navbar-toggler(
            type="button",
            data-bs-toggle="modal",
            data-bs-target="#navbarModal"
        )
            span.navbar-toggler-icon

<!-- Navbar content for small screen -->
#navbarModal.modal.fade(
    data-backdrop="false",
    tabindex="-1",
    aria-labelledby="navbarModalLabel",
    aria-hidden="true",
    style="background-color: rgba(0, 0, 0, 0.5)"
)
    .modal-dialog.modal-xl(style="min-width: 95%")
        .modal-content
            .modal-header
                h5#navbarModalLabel.modal-title.d-flex.gap-2
                    img.d-inline-block.rounded-3(
                        src="/favicon-32x32.png",
                        width="32",
                        height="32",
                        alt="Todo-Node"
                    )
                    p.mb-0 ToDo-Node
                button.btn-close(
                    type="button",
                    data-bs-dismiss="modal",
                    aria-label="Close"
                )

            .modal-body.p-0
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link.active(href="/") Features
                    li.nav-item
                        a.nav-link(href="/todos") Apps
                    li.nav-item
                        a.nav-link(href="/about") Help

            .modal-footer
                .d-flex.gap-3.container-fluid.p-0
                    a.btn.btn-dark.rounded-pill(href="/")
                        | Get Started
                        i.bi.bi-arrow-right
                    button.btn.btn-outline-success(type="submit") Search
